/BoardGames.class
/Coord.class
/Couleur.class
/PieceIHM.class
/Piece.class
/AbstractPiece.class
/Tour.class
/Cavalier.class
/Fou.class
/Dame.class
/Roi.class
/Pion.class
/Pieces.class
/Reine.class
/Jeu.class
/Echiquier.class
